

<div class="container">
    <h3 class="h3">shopping Demo-1 </h3>
    <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let product of products" >
            <div class="product-grid">
                <div class="product-image">
                    
                        <img class="pic-1" src={{product.imageUrl1}}>
                        <img class="pic-2" src={{product.imageUrl2}}>
                    
                  
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">20%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>

                <div class="product-content">
                    <h3 class="title"> Women's Blouse</h3>
                    <div class="price">${{product.price}}
                        <span>$1000.00</span>
                    
                    </div >
                    <button class="btn-btn-info" (click)="getPaymentOption(product)"> 
                       Buy now
                    </button>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>
<hr>


